*{
    margin: 0;
    padding: 0;
}
body{
    padding: 0;
    margin: 0;
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: 150%;
    background-attachment: fixed;
}
/* Scrollbar styles */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    }
    
    ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px olivedrab;
    border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: yellowgreen; 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    }
    
    ::-webkit-scrollbar-thumb:hover {
    background: #7bac10;
    }